<div class="container">

  <!-- Heading Row -->
  <div class="row align-items-center my-5">
    <div class="col-lg-7">
      <img class="img-fluid rounded mb-4 mb-lg-0"
           id="farm-tractor"
           src="https://images.pexels.com/photos/2889440/pexels-photo-2889440.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
           alt="">
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-5">
      <h1 class="font-weight-light">Idaho's #1 Store for Agriculture Equipment</h1>
      <a class="btn btn-info" href="#">Inventory</a>
    </div>
    <!-- /.col-md-4 -->
  </div>
  <!-- /.row -->

  <!-- Call to Action Well -->
  <div class="card text-white bg-danger my-5 text-center">
    <div class="card-body">
      <p class="text-white m-0">Due to COVID-19 some events may be scheduled. </p>
    </div>
  </div>

  <!-- Content Row -->
 <app-for-sale></app-for-sale>
  <!-- /.row -->

</div>
<!-- /.container -->
