#farm-tractor{
 background-image: url("https://images.pexels.com/photos/693857/pexels-photo-693857.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
  background-size: 200px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
